­ƒôû Lecture du fichier CSV...
­ƒöì Parsing des donn├®es...
Ô£à 966 utilisateur(s) trouv├®(s) dans le CSV
­ƒôè 188 utilisateur(s) unique(s) apr├¿s d├®duplication

­ƒôØ SQL g├®n├®r├®:
================================================================================
-- OnpointDoc - Synchronisation des utilisateurs clients depuis CSV
-- Date: 2025-12-08
-- G├®n├®r├® automatiquement depuis scripts/sync-client-users-from-csv.mjs

CREATE TEMP TABLE IF NOT EXISTS temp_client_users (
  full_name TEXT NOT NULL,
  job_title TEXT,
  company_name TEXT NOT NULL,
  UNIQUE(full_name, company_name)
);


DO $$
DECLARE
  v_user RECORD;
  v_company_id UUID;
  v_existing_user_id UUID;
  v_created_count INTEGER := 0;
  v_updated_count INTEGER := 0;
  v_skipped_count INTEGER := 0;
BEGIN
  FOR v_user IN 
    SELECT DISTINCT 
      t.full_name,
      t.job_title,
      t.company_name,
      c.id as company_id
    FROM temp_client_users t
    LEFT JOIN companies c ON UPPER(TRIM(c.name)) = UPPER(TRIM(t.company_name))
    WHERE t.full_name IS NOT NULL 
      AND TRIM(t.full_name) != ''
      AND t.company_name IS NOT NULL
      AND TRIM(t.company_name) != ''
  LOOP
    IF v_user.company_id IS NULL THEN
      RAISE NOTICE 'Entreprise non trouv├®e: % (utilisateur: %)', v_user.company_name, v_user.full_name;
      v_skipped_count := v_skipped_count + 1;
      CONTINUE;
    END IF;
    
    SELECT id INTO v_existing_user_id
    FROM profiles
    WHERE UPPER(TRIM(full_name)) = UPPER(TRIM(v_user.full_name))
      AND (company_id = v_user.company_id OR company_id IS NULL)
    LIMIT 1;
    
    IF v_existing_user_id IS NOT NULL THEN
      UPDATE profiles
      SET 
        company_id = COALESCE(company_id, v_user.company_id),
        job_title = COALESCE(job_title, v_user.job_title),
        role = CASE WHEN role IS NULL OR role = 'agent' THEN 'client' ELSE role END,
        is_active = COALESCE(is_active, true)
      WHERE id = v_existing_user_id
        AND (
          company_id IS DISTINCT FROM v_user.company_id OR
          job_title IS DISTINCT FROM v_user.job_title
        );
      
      IF FOUND THEN
        v_updated_count := v_updated_count + 1;
        RAISE NOTICE 'Utilisateur mis ├á jour: % (entreprise: %)', v_user.full_name, v_user.company_name;
      ELSE
        v_skipped_count := v_skipped_count + 1;
      END IF;
    ELSE
      INSERT INTO profiles (
        full_name,
        job_title,
        company_id,
        role,
        is_active
      )
      VALUES (
        TRIM(v_user.full_name),
        NULLIF(TRIM(v_user.job_title), ''),
        v_user.company_id,
        'client',
        true
      );
      
      v_created_count := v_created_count + 1;
      RAISE NOTICE 'Utilisateur cr├®├®: % (entreprise: %, fonction: %)', v_user.full_name, v_user.company_name, v_user.job_title;
    END IF;
  END LOOP;
  
  RAISE NOTICE '=== R├ëSUM├ë ===';
  RAISE NOTICE 'Utilisateurs cr├®├®s: %', v_created_count;
  RAISE NOTICE 'Utilisateurs mis ├á jour: %', v_updated_count;
  RAISE NOTICE 'Utilisateurs ignor├®s: %', v_skipped_count;
END $$;

DROP TABLE IF EXISTS temp_client_users;

================================================================================

­ƒÆí Pour appliquer cette migration:
   1. Copier le SQL ci-dessus
   2. L'appliquer via MCP Supabase ou directement dans Supabase SQL Editor
